* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* CSS for errors */
#checkbox {
    cursor: pointer;
}

/* CSS for Form.js file */

.home-title {
    color: hsl(359, 100%, 66%);
}

.forms {
    background-color: hsl(359, 100%, 66%);
}

.navigation-home {
    margin-right: 30px;
    color: hsl(359, 100%, 66%);
}
.navigation-home:hover {
    color: hsl(359, 100%, 66%);
}

.navigation-about {
    margin-right: 30px;
    color: hsl(359, 100%, 66%);
}
.navigation-about:hover {
    color: hsl(359, 100%, 66%);
}

.navigation-form {
    color: hsl(359, 100%, 66%);
}
.navigation-form:hover {
    color: hsl(359, 100%, 66%);
}

.home-body {
    border: 45px solid hsl(359, 100%, 66%);
}

.about-paragraph {
    font-size: large;
}

.about-heading {
    color: hsl(359, 100%, 66%);
}

/* CSS for About.js file*/
.about-body {
    border: 45px solid hsl(359, 100%, 66%);
}

/* My CSS */

.heading {
    color: hsl(359, 100%, 66%);
}

.logos:hover {
    cursor: pointer;
}

.box {
    background-color: rgb(246, 248, 250);
    border: 1px solid rgb(237, 242, 247);
}

.facebook,
.google,
.twitter {
    width: 10%;
}

.google {
    width: 6%;
}

.terms,
.privacy {
    color: hsl(359, 100%, 66%);
}

.termsAndConditions {
    margin-left: 10px;
}

.termsAndConditions:hover {
    cursor: pointer;
}

.signup-button {
    color: rgb(255, 84, 85);
    font-weight: 500;
    border: 1px solid rgb(255, 84, 85);
}

.signup-button:hover {
    background-color: rgb(255, 84, 85);
    color: white;
    border: 1px solid rgb(255, 84, 85);
}

@media (max-width: 992px) {
    .about-body {
        padding: 30px;
    }
    .home-body {
        padding: 30px;
    }
}

@media (max-width: 420px) {
    .about-body {
        padding: 10px;
    }

    .home-body {
        padding: 10px;
    }

    .heading.m-1 {
        margin: unset;
    }
}
